{% extends "layout.html" %}
{% block title %}
build {{build.build_key}}
{% endblock %}
{% block content %}
    <table>
    {% for f in files %}
      <tr>
          <td><a href="/{{build.build_key}}/{{f}}">{{f}}</a></td>
      </tr>
    {% endfor %}
    </table>
    <p>
    Tip: append <a href="?export=json">?export=json</a> to the URL to get a JSON representation of this page.
    </p>
{% endblock %}
